*.swp
*.coverage
*.pyc
*.egg-info
*.cache
*.python-version
.DS_Store
.bumpversion.cfg
.mypy_cache
.eggs
.testmondata
__LAST__
.prospector.yaml
.env
.envrc
pip-wheel-metadata
/ve
/frontend/dist
node_modules
/static
